.wrapper {
  padding: 0 70px;
}

.card-list {
  border-top: dotted #676767 2px;
  border-bottom: dotted #676767 2px;
}

.input-per-page {
  border: 1px solid gray;
}

.home-container {
  min-height: calc(100vh - 150px);
}
